body{
    background-color: #f8fafc;
    color: #0f172a;
    margin: 0;
    font-family: "Inter", sans-serif;
}

p {
    font-size: 0.7rem;
}

header{
    background-color: #2563eb;
    color: #f8fafc;
}

.top{
    display: flex;
    justify-content: space-between;
}

h5{
    margin-top: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
}

.nav li{
    margin-right: 10px;
    font-size: 0.7rem;
}

.container{
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
}

a{
    text-decoration: none;
    color: #f8fafc;
}

.card{
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    padding: 1rem;
}

.card:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

.code{
    background-color: #0f172a;
    color: #f8fafc;
    border-radius: 0.5rem;
    padding: 1rem;
}